- @bodyid = "index"
- @title = "Docs"

:markdown
  
	# Getting Started
	
	Please follow our Getting Started tutorial if you're new to Mobile Forms and would like follow a guided set of steps, including screenshots, for collecting data from a mobile device and sending it to Google Docs.
	
	# Developers
	
	The Developer API section is intended for developers wishing to build integration solutions on top of the Mobile Forms platform. For more complex solutions, we offer an API and set of integration points that developers can easily tap into. These comprise the [HTTP Connector](http-connector) and the [Push API](push-api).

	Using these two APIs, developers can build complex workflow and routing applications integrated into their current back-office systems. Best of all, the mobility aspects are all handled by the platform leaving you free to focus on the business challenge.
	
	# Community Resources
	
	Can't find an answer to your question?  Please post your question to our [community help forum](http://devicemagic.zendesk.com/forums/277080-community-help). Follow us on Twitter for product and company annoucements at @devicemagic. Lastly, please read our [blog](http://blog.devicemagic.com)
	
	# Support
	
	If all else fails, you can always visit [Device Magic Support](http://devicemagic.zendesk.com) to open a ticket and our support team will get back to you right away.